DATABASE_URL="postgresql://neondb_owner:npg_qZ2GQTP9tnHU@ep-hidden-waterfall-al35djbb-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXT_PUBLIC_WA_NUMBER="212641750719"
ADMIN_PASSWORD="2015@Adobe"
AUTH_SECRET="2015@AdobeMorocco2026"
